.translation-improvment-dialog
  .container-fluid
    = form_for [@story, @edit] do |form|
      %h2= t :suggest_translation
      .col-lg-6
        .form-group{class: [('has-error' if form.try(:object).try(:errors).try { |o| o[:original_text].any?})]}
          = form.label :original_text, t(:original_text)
          = form.text_area :original_text

      .col-lg-6
        .form-group{class: [('has-error' if form.try(:object).try(:errors).try { |o| o[:suggested_text].any?})]}
          = form.label :suggested_text, t(:suggested_text)
          = form.text_area :suggested_text

      .clearfix

      = form.submit t(:submit), class: %w[btn btn-default]
