
= form_for @story do |form|
  - if @story.errors.any?
    .alert.alert-danger
      %h4
        The form contains
        = pluralize @story.errors.count, 'error'
      - @story.errors.full_messages.each do |msg|
        %p.bg-danger.text-danger= msg

  .form-group{class: [('has-error' if @story.errors[:title].any?)]}
    = form.label :title, class: 'control-label'
    = form.text_field :title, class: 'form-control'
  .form-group{class: [('has-error' if @story.errors[:text].any?)]}
    = form.label :text, class: 'control-label'
    = form.text_area :text, class: 'form-control', rows: 10
  %p.text-right
    = form.submit class: ['btn', 'btn-success']
    = form.button 'Cancel', class: ['btn', 'btn-default']